@import "src/styles";

:host {
  width: 90%;
  height: 72vh;
  overflow-y: auto;

  .todo-table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    padding-bottom: 1rem;
    font-size: 1rem;
  }

  @media screen and (max-width: $mediumDeviceBreakpoint) {
    .todo-table {
      font-size: 12px;
    }
  }

  @media screen and (max-width: $smallDeviceBreakpoint) {
    .todo-table {
      font-size: 8px;
    }
  }

  .todo-table td, .todo-table th {
    border: 1px solid $appGray;
    padding: 0.5rem;
  }

  .todo-table tr:nth-child(even){
    background-color: $appLightGray;
  }

  .todo-table tr:hover {
    background-color: $appGray;
  }

  .todo-table th {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    text-align: left;
    background-color: $appGreen;
    color: $appWhite;
  }

  @mixin status-indicator {
    font-size: 1.5rem;
  }

  $indicator-colors: $appGreen, $appYellow, $appRed;
  $i: 0; @each $color in $indicator-colors {
  .status-indicator-#{$i} {
    color: $color;
    @include status-indicator;
  }
  $i: $i + 1;
}

  $tableWidths: 25%, 55%, 6%, 14%;
  $i: 0; @each $tableWidth in $tableWidths {
    $i: $i + 1;
    .todo-table th:nth-child(#{$i}) {
      width: $tableWidth;
    }
  }

  // description block
  .todo-table td:nth-child(2) span {
    width: 100%;
  }

  // status block
  .todo-table td:nth-child(3) {
    text-align: center;
  }

  // action block
  .todo-table td:nth-child(4) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @mixin buttons {
    font-size: 1.5rem;
    width: 2.8rem;
    margin-right: 0.2rem;
  }

  .delete-todo-button {
    @include buttons;
  }

  .follow-todo-button {
    @include buttons;

    &.active {
      color: $appWhite;
      background-color: $appBlue;
    }
  }
}
