<div class="container">
  <ng-container *ngIf="todoItem; else noCard">
    <div class="row">
      <h2 class="header col-12">
        {{ textField.card.cardHeaderText }}# <small>{{ todoItem.id }}</small>
      </h2>
      <h4 class="sub-header col-12">{{ todoItem.description }}</h4>
      <div class="col-6">
        <ng-container *ngFor="let leftConfig of inputsConfigForLeft">
          <app-card-input
            [config]="leftConfig"
            [value]="getTodoItemValue(todoItem, leftConfig)"
            [disable]="!editMode"
          ></app-card-input>
        </ng-container>
      </div>
      <div class="col-6">
        <ng-container *ngFor="let rightConfig of inputsConfigForRight">
          <app-card-input
            [config]="rightConfig"
            [value]="getTodoItemValue(todoItem, rightConfig)"
            [disable]="!editMode"
          ></app-card-input>
        </ng-container>
      </div>
      <div class="col-12"></div>
      <ng-container *ngIf="editMode">
      <div class="col-6 action-button">
        <button class="app-success">{{ textField.common.save }}</button>
      </div>
      <div class="col-6 action-button">
        <button class="app-danger" (click)="editMode = false">{{ textField.common.cancel }}</button>
      </div>
      </ng-container>
    </div>
  </ng-container>
  <ng-template #noCard>
    <span class="no-data">{{ textField.card.noCardText }}</span>
  </ng-template>
  <button class="button-close" [routerLink]="route.TODO('full')"></button>
  <button *ngIf="todoItem && !editMode" class="button-edit" (click)="editMode = true"></button>
</div>
