@import "../../../../styles";

:host {
  width: 100%;
  height: 100%;

  .container {
    position: relative;
    margin: 2rem 9rem;
    padding: 2rem;
    border: 1px solid $appGray;
    border-radius: 5px;
    box-shadow: 0 5px 40px rgba(0,0,0,0.2);
    height: 80vh;
    font-size: 1.5rem;

    .header {
      margin-bottom: 0;
      font-size: 3rem;
    }

    .sub-header {
      margin-top: 0;
      opacity: 0.6;
      font-size: 2rem;
    }
  }

  @media screen and (max-width: $mediumDeviceBreakpoint) {
    .container {
      margin: 1rem 2rem;
      padding: 1rem;
      height: 88vh;
      font-size: 1.2rem;

      .header {
        font-size: 2rem;
      }

      .sub-header {
        font-size: 1.5rem;
      }
    }
  }

  @media screen and (max-width: $smallDeviceBreakpoint) {
    .container {
      margin: 0.5rem;
      padding: 0.5rem;
      height: 92vh;
      font-size: 0.8rem;

      .header {
        font-size: 1.5rem;
      }

      .sub-header {
        font-size: 1.2rem;
      }
    }
  }

  .button-close {
    position: absolute;
    right: 1rem;
    top: 1rem;

    &:before {
      content: "\2715";
      font-size: 2rem;
      vertical-align: 20%;
      color: $appRed;
    }
  }
}
