@import "../../../../styles";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  .input-to-do-label {
    margin-right: 1rem;
  }

  .add-button {
    margin-left: 0.5rem;
  }

  .input-to-do, .input-to-do-label, .add-button {
    height: 2rem;
  }

  .input-to-do {
    width: 26rem;
  }

  @media screen and (max-width: $mediumDeviceBreakpoint) {
    .input-to-do, .input-to-do-label, .add-button {
      height: 1.5rem;
    }

    .input-to-do {
      width: 13rem;
    }
  }

  @media screen and (max-width: $smallDeviceBreakpoint) {
    .input-to-do {
      width: 7rem;
    }
  }
}
