<h2>{{ 'todo.logo' | translate }}</h2>
<app-to-do-input
  (onAddTodo)="onAddTodo($event)"
></app-to-do-input>
<hr class="divider"/>
<app-to-do-table
  [filters]="filters"
  [todosFiltered]="todosListFiltered"
  [followedTodos]="$any(followedTodos$ | async)"
  [statusEnum]="$any(statusEnum$ | async)"
  [noItemToFollow]="noItemToFollow()"
  [expiredStatusValue]="expiredStatusValue"
  [sorting]="sorting"
  (onChangeFallowAll)="onChangeFollowAll($event)"
  (onChangeFilters)="onChangeFilters($event)"
  (onFollowItem)="onFollowItem($event)"
  (onDeleteItem)="onDeleteItem($event)"
  (onSortChange)="sortChange($event)"
></app-to-do-table>
