<div class="input-group" [ngSwitch]="config.inputType">
  <textarea
    *ngSwitchCase="inputType.TEXT_AREA"
    [formControl]="formControlForInput"
    [class.notEmpty]="formControlForInput.value"
    [class.app-disabled]="!config.editable"
    rows="2"
  ></textarea>
  <ng-container *ngSwitchCase="inputType.DATE_TIME">
    <input
      [ngxMatDatetimePicker]="picker"
      [formControl]="formControlForInput"
      [class.app-disabled]="!config.editable"
      [class.notEmpty]="formControlForInput.value"
      class="date-time-picker"
    >
    <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
    <ngx-mat-datetime-picker #picker [showSeconds]="true"></ngx-mat-datetime-picker>
  </ng-container>
  <input
    *ngSwitchCase="inputType.PHONE"
    [formControl]="formControlForInput"
    [class.notEmpty]="formControlForInput.value"
    [class.app-disabled]="!config.editable"
    [showMaskTyped]="true"
    [mask]="phoneMask.data"
    [prefix]="phoneMask.prefix"
    type="phone"
  >
  <input
    *ngSwitchDefault
    [formControl]="formControlForInput"
    [type]="$any(config).inputType"
    [class.notEmpty]="formControlForInput.value"
    [class.app-disabled]="!config.editable"
  >
  <span class="highlight"></span>
  <span class="bar"></span>
  <label>{{ config.name }}</label>
  <span *ngIf="isRequired(formControlForInput)" class="error-text">
    <small>{{ textField.inputErrors.required }}</small>
  </span>
  <span *ngIf="isEmailValid(formControlForInput)" class="error-text">
    <small>{{ textField.inputErrors.email }}</small>
  </span>
</div>
