@import "src/styles";

.input-group {
  position: relative;
  margin: 1.5rem 0;
}

input, textarea, .bar {
  width: 80%;
  display: block;
}

input, textarea {
  background: none;
  color: $appBlack;
  font-size: 1.5rem;
  padding: 10px 10px 10px 5px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $appGray;
}

input:focus, textarea:focus {
  outline: none;
}

input.disabledAndNotEmpty ~ label,
input:focus ~ label,
textarea.disabledAndNotEmpty ~ label,
textarea:focus ~ label,
input:valid ~ label,
textarea:valid ~ label {
  top: -1rem;
  font-size: 1rem;
  color: $appDarkGreen;
}

textarea:disabled {
  resize: none;
}

input:focus ~ .bar:before, textarea:focus ~ .bar:before {
  width: 103%;
}
input[type="password"] {
  letter-spacing: 0.3em;
}
label {
  color: $appDarkGray;
  font-size: 1.25rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 300ms ease all;
}

.bar {
  position: relative;
}

.bar:before {
  position: absolute;
  content: '';
  height: 2px;
  width: 0;
  left: 0;
  bottom: 0;
  background: $appGreen;
  transition: 300ms ease all;
}
