<ng-container *ngIf="editMode; else readOnlyMode">
  <div class="input-group" [ngSwitch]="config.inputType">
    <textarea
      *ngSwitchCase="inputType.TEXT_AREA"
      [formControl]="formControlForInput"
      [class.not-empty]="formControlForInput.value"
      [class.app-disabled]="!config.editable"
      rows="2"
    ></textarea>
    <ng-container *ngSwitchCase="inputType.DATE_TIME">
      <input
        [ngxMatDatetimePicker]="picker"
        [formControl]="formControlForInput"
        [class.app-disabled]="!config.editable"
        [class.not-empty]="formControlForInput.value"
        (click)="picker.open()"
        class="date-time-picker"
        readonly
      >
      <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker [showSeconds]="true"></ngx-mat-datetime-picker>
    </ng-container>
    <input
      *ngSwitchCase="inputType.PHONE"
      [formControl]="formControlForInput"
      [class.not-empty]="editMode || formControlForInput.value"
      [class.app-disabled]="!config.editable"
      [showMaskTyped]="formControlForInput.enabled"
      [mask]="phoneMask.data"
      [prefix]="editMode || formControlForInput.value ? phoneMask.prefix : ''"
      type="phone"
    >
    <input
      *ngSwitchCase="inputType.ZIPCODE"
      [formControl]="formControlForInput"
      [class.not-empty]="editMode || formControlForInput.value"
      [class.app-disabled]="!config.editable"
      [showMaskTyped]="formControlForInput.enabled"
      [mask]="zipcodeMask.data"
      [prefix]="editMode || formControlForInput.value ? zipcodeMask.prefix : ''"
      type="phone"
    >
    <input
      *ngSwitchDefault
      [formControl]="formControlForInput"
      [type]="$any(config).inputType"
      [class.not-empty]="formControlForInput.value"
      [class.app-disabled]="!config.editable"
    >
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>{{ 'card.' + config.keyForValue | translate }}</label>
    <ng-container *ngFor="let error of errorMap">
      <span *ngIf="isErrorOnInput(formControlForInput, error.type)" class="error-text">
        <small>{{ error.translateCode | translate }}</small>
      </span>
    </ng-container>
  </div>
</ng-container>
<ng-template #readOnlyMode>
  <p>
    <ng-container [ngSwitch]="config.inputType">
      <span *ngSwitchCase="inputType.PHONE">
        {{ 'card.' + config.keyForValue | translate }} : {{ getMaskedInputValue(formControlForInput?.value, phoneMask) }}
      </span>
      <span *ngSwitchCase="inputType.ZIPCODE">
        {{ 'card.' + config.keyForValue | translate }} : {{ getMaskedInputValue(formControlForInput?.value, zipcodeMask) }}
      </span>
      <span *ngSwitchCase="inputType.DATE_TIME">
        {{ 'card.' + config.keyForValue | translate }} : {{ formControlForInput?.value | date: dateTimeFormat }}
      </span>
      <span *ngSwitchDefault truncate>{{ 'card.' + config.keyForValue | translate }} : {{ formControlForInput?.value }}</span>
    </ng-container>
  </p>
</ng-template>
