/* You can add global styles to this file, and also import other style files */

$largeDeviceBreakpoint: 980px;
$mediumDeviceBreakpoint: 768px;
$smallDeviceBreakpoint: 350px;

$appGray: #ddd;
$appLightGray: #f2f2f2;
$appDarkGray: #757575;
$appGreen: #04AA6D;
$appDarkGreen: #005005;
$appWhite: white;
$appBlack: black;
$appBlackWithOpacity04: rgba(0, 0, 0, 0.4);
$appRed: #9b0000;
$appLightRed: #ffa4a2;
$appYellow: #c7b800;
$appLightYellow: #ffff5a;
$appDarkBlue: #001970;
$appBlue: #303f9f;

.app-success {
  background-color: $appGreen;
}

.app-danger {
  background-color: $appLightRed;
}

.app-disabled {
  background-color: $appLightGray;
}

body {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.no-data {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  width: 100%;
  text-align: center;

  &:after {
    position: absolute;
    top: 300%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10rem;
    content: "\26A0";
    color: $appRed;
  }
}

/* Grid styles */
.row {
  padding-left: 1rem;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  width: 100%;
}

@media (min-width: $mediumDeviceBreakpoint) {
  $gridData: 8.33%, 16.66%, 25%, 33.33%, 41.66%, 50%, 58.33%, 66.66%, 75%, 83, 33%, 91.66%, 100%;
  $i: 0;
  @each $gridPercent in $gridData {
    $i: $i + 1;
    .col-#{$i} {
      width: $gridPercent;
    }
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
